@use './colors.scss' as c;
@use './mixins.scss' as m;
@use './variables.scss' as v;
// @font-face {
//   font-family: 'SourceSansPro';
//   src: url(../font/SourceSansPro-Regular.otf) format(otf);
// }

// main
main {
  color: c.$black;
  max-width: v.$width !important;
  margin: 0 auto;
  padding: m.rem(40) 0;
}
p {
  font-size: v.$mainText;
}
span,
p {
  line-height: v.$mainLineHeight;
}
img {
  object-fit: cover;
}

// navbar
nav {
  border-bottom: 1px solid c.$black;
  padding: m.rem(10) m.rem(60) !important;
  img {
    height: m.rem(44);
  }
  ol {
    li {
      &:nth-child(-n + 3)::after {
        content: '|';
        margin: 0 m.rem(10);
      }
    }
    a {
      color: c.$black;
      font-size: v.$subHeader;
      &:hover {
        color: c.$seneca;
      }
    }
  }
  button {
    color: c.$main !important;
    &:focus {
      box-shadow: none !important;
    }
    svg {
      width: m.rem(30);
      height: m.rem(30);
    }
  }
}

// footer
footer {
  color: c.$white;
  background-color: c.$black;
  div {
    p {
      line-height: 1;
      &:last-of-type {
        margin-top: m.rem(10);
      }
    }
    a {
      color: c.$white;
      text-decoration: underline;
      &:hover {
        color: c.$seneca;
      }
    }
  }
}

// back to top
.toTopBtn {
  background-color: rgba(c.$seneca, 0.6);
  color: c.$white;
  border-radius: v.$border-radius;
  transition: background-color 0.3s;
  padding: m.rem(10);
  display: none;
  align-items: center;
  gap: m.rem(1);
  position: fixed;
  top: 70%;
  right: m.rem(20);
  z-index: 99;
  &:hover {
    background-color: c.$seneca;
  }
}
@media screen and (max-width: 576px) {
  nav {
    padding: 0 !important;
    li {
      margin: m.rem(2) 0;
      &:nth-of-type(-n + 3) {
        border-bottom: m.rem(1) solid c.$black;
      }
      &::after {
        content: '' !important;
      }
    }
  }
  footer {
    p {
      text-align: center !important;
    }
  }
}
