@use './colors' as c;

@mixin font-break($line: 1) {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@mixin button-style($button-background-color, $border-color, $text-color, $hover-background, $hover-text-color) {
  background-color: $button-background-color;
  color: $text-color;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid $border-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $hover-background;
    color: $hover-text-color;
  }
}

h3 {
  font-size: 32px;
}
p {
  font-size: 16px;
}
span, p {
  line-height: 1.5;
}
