@use 'colors' as c;
@use 'mixins' as m;
@use 'variables' as v;
@use './common.scss';

.mainPhoto {
  position: relative;
  img {
    width: 100%;
    height: m.rem(300);
  }
  div {
    color: c.$white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: m.rem(32);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: m.rem(10);
    position: absolute;
    top: 0;
    p:first-of-type {
      font-weight: bold;
    }
  }
}
main {
  h3 {
    text-align: center;
    margin: 40px 0;
  }
  img {
    max-height: m.rem(300);
    border-radius: v.$border-radius;
  }
  div {
    &.enactus, &.about {
      display: flex;
      justify-content: space-between;
      span {
        width: 80%;
      }
    }
    &.about {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      align-content: center;
      gap: m.rem(10);
      p {
        grid-column: 1 / 3;
      }
      img {
        grid-column: 1 / 2;
        width: 100%;
        aspect-ratio: 4/3;
      }
      span {
        justify-self: end;
      }
    }
  }
}
.swiper {
  max-height: m.rem(300);
  &-slide {
    max-height: m.rem(300);
    aspect-ratio: 1 / 1;
    img, div {
      width: calc((m.rem(1030) - m.rem(15) * 3) / 4);
    }
    img {
      height: 100%;
      border-radius: v.$border-radius;
    }
    div {
      background-color: rgba(0, 0, 0, 0.5);
      height: 60px;
      border-radius: 0 0 m.rem(10) v.$border-radius;
      padding: 0 m.rem(15);
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      p {
        color: c.$white;
        text-align: center;
        &:first-of-type {
          font-size: m.rem(16);
          font-weight: bold;
        }
      }
    }
  }
}