@use 'colors' as c;
@use 'mixins' as m;
@use 'variables' as v;
@use './common.scss';

.mainPhoto {
  height: m.rem(350);
  position: relative;
  img {
    width: 100%;
    height: m.rem(350);
    filter: brightness(0.5);
  }
  div {
    color: c.$white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
  }
}
main {
  h2 {
    text-align: center;
    margin: m.rem(40) 0;
  }
  img {
    width: 100%;
    max-height: m.rem(300);
    border-radius: v.$border-radius;
  }
}
.swiper {
  max-height: m.rem(300);
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex !important;
    }
  }
  &-slide {
    max-height: m.rem(300);
    aspect-ratio: 1 / 1;
    img {
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
    div {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 60px;
      border-radius: 0 0 m.rem(10) v.$border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      p {
        color: c.$white;
        text-align: center;
        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }
  &-button {
    &-prev,
    &-next {
      background-color: rgba(c.$seneca, 0.5);
      border: unset;
      padding: m.rem(10) 0 !important;
      box-sizing: unset !important;
      display: none !important;
      &::after {
        content: '' !important;
      }
      &:hover {
        background-color: c.$seneca;
      }
      svg {
        fill: c.$white;
      }
    }
    &-prev {
      border-radius: 0 5px 5px 0;
      left: 0 !important;
    }
    &-next {
      border-radius: 5px 0 0 5px;
      right: 0 !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .swiper {
    max-width: m.rem(300);
  }
  .about {
    > div {
      display: block !important;
      img {
        margin-top: m.rem(10);
      }
    }
  }
}