@use 'colors' as c;
@use 'mixins' as m;
@use 'variables' as v;
@use './common.scss';

.mainPhoto {
  position: relative;
  z-index: 1; 
  img {
    width: 100%;
    height: m.rem(350);
    filter: brightness(0.5);
  }
  div {
    color: c.$white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1; 
    p:first-of-type {
      font-weight: bold;
    }
  }

  // Adjustments for screens smaller than 760px (like phones)
  @media (max-width: 760px) {
    img {
      height: 200px; // Decreasing height for smaller screens
    }
    div {
      font-size: 24px; // Adjusting font size for readability
      gap: 5px;
    }
  }
}
nav {
  position: relative;
  z-index: 2; 
}
main {
  h2 {
    text-align: center;
    margin: m.rem(40) 0;
  }
  img {
<<<<<<< HEAD
    grid-column: 1 / 2;
    width: 100%;
    aspect-ratio: 4/3;
  }
  div {
    &.enactus,
    &.about {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 16px;
        width: 80%;
      }
    }
    &.about {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      align-content: center;
      gap: 10px;
      p {
        grid-column: 1 / 3;
      }
      img {
        grid-column: 1 / 2;
        width: 100%;
        aspect-ratio: 4/3;
      }
      span {
        justify-self: end;
      }
    }
=======
    max-height: m.rem(300);
    border-radius: v.$border-radius;
>>>>>>> 0ced92829fa09ae10c6df1eab6332216dffd4a94
  }
  @media (max-width: 760px) {
    width: 90%;
    padding: 15px;
    h3 {
      font-size: 24px;
      margin: 20px 0;
    }
    div {
      //here we have to switch to vertical layout
      &.enactus,
      &.about {
        display: block;
        text-align: left;
        span {
          width: 100%;
          font-size: 14px;
        }
      }
      &.about {
        grid-template-columns: 1fr; //Not sure about, but it works
        grid-template-rows: auto auto;
        gap: 10px;

        img {
          width: 100%;
          aspect-ratio: auto;
        }

        span {
          justify-self: start; // Aligning this to the start
        }
      }
    }
  }
}

.swiper {
<<<<<<< HEAD
  max-height: 300px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

  &-slide {
    max-height: 300px;
    aspect-ratio: 1 / 1;
    position: relative;
    flex-shrink: 0;
    width: calc((100% - 15px * 3) / 4);
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
=======
  max-height: m.rem(300);
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex !important;
    }
  }
  &-slide {
    max-height: m.rem(300);
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
>>>>>>> 0ced92829fa09ae10c6df1eab6332216dffd4a94
    }

    div {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 60px;
<<<<<<< HEAD
      border-radius: 0 0 10px 10px;
      padding: 0 1rem;
      box-sizing: border-box;
=======
      border-radius: 0 0 m.rem(10) v.$border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
>>>>>>> 0ced92829fa09ae10c6df1eab6332216dffd4a94
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        text-align: center;

        &:first-of-type {
<<<<<<< HEAD
          font-size: 1.25rem;
=======
>>>>>>> 0ced92829fa09ae10c6df1eab6332216dffd4a94
          font-weight: bold;
        }
      }
    }
  }
<<<<<<< HEAD

 
  @media (max-width: 1024px) {
    &-slide {
      width: calc((100% - 15px * 2) / 3);
    }

    .swiper-slide div p {
      font-size: 0.9rem;  
    }
  }

  @media (max-width: 760px) {
    &-slide {
      width: 100%;
      margin-right: 0;

      img,
      div {
        width: 100%;
      }

      div {
        height: 40px;
        padding: 0 10px;

        p {
          font-size: 0.75rem; 
        }
=======
  &-button {
    &-prev,
    &-next {
      background-color: rgba(c.$seneca, 0.5);
      border: unset;
      padding: m.rem(10) 0 !important;
      box-sizing: unset !important;
      display: none !important;
      &::after {
        content: '' !important;
      }
      svg {
        fill: c.$white;
      }
    }
    &-prev {
      border-radius: 0 5px 5px 0;
      left: 0 !important;
    }
    &-next {
      border-radius: 5px 0 0 5px;
      right: 0 !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .about {
    > div {
      display: block !important;
      img {
        margin-top: m.rem(10);
>>>>>>> 0ced92829fa09ae10c6df1eab6332216dffd4a94
      }
    }
  }
}
