@use './colors' as c;
@use './common' as com;
@use './navAndFooter.scss';

.meetOurTeam-info {
  max-width: 1030px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
}

.main-card-leaders-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .card-leaders-info,
  .card-leaders-info-reverse {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      width: 300px;
      height: 300px;
      border-radius: 8px;
      object-fit: cover;
    }

    div {
      flex: 1;

      h1 {
        font-size: 1.5rem;
        margin: 0;
        color: #333;
      }

      h3 {
        font-size: 1.1rem;
        margin: 5px 0;
        color: #777;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.6;
        color: #555;
      }
    }
  }

  .card-leaders-info-reverse {
    flex-direction: row-reverse;
  }
}
.department-info {
  width: 100%;
  text-align: center;
  padding: 20px;

  .headerOfDepartment {
    margin-bottom: 20px;

    h2 {
      font-size: 1.5em;
      margin: 0;
    }

    p {
      font-size: 1em;
      color: #666;
    }
  }

  .members {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.member-card {
  width: 320px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;

  div {
    width: 300px;
    height: 300px;
    background-image: url('https://fakeimg.pl/600/');
    background-size: cover;
    background-position: center;
    margin: 10px auto;
  }

  h3 {
    margin: 0;
    font-size: 1em;
    color: #333;
  }

  p {
    margin: 0;
    font-size: 0.8em;
    color: #333;
  }
}
.join-us {
  background-color: c.$white;
  text-align: center;
  max-width: 400px;
  border: 2px solid c.$border;
  border-radius: 8px;
  margin: 40px auto;
  padding: 1.5rem;
  box-sizing: border-box;
  @include com.box-shadow;

  p {
    margin-bottom: 1.5rem;
    color: c.$black;
  }

  button {
    @include com.button-style(c.$white, c.$border, c.$black, c.$hover-background, c.$white);
  }
}
