@use './colors' as c;
@use './mixins' as m;
@use 'variables' as v;
@use './common.scss';
@use './joinUs';

main {
  text-align: center;

  >p {
    margin: m.rem(20) 0 !important;
  }

  .leaders {
    max-width: m.rem(800);
    margin: m.rem(20) auto;
    gap: m.rem(20);
    
    > div {
      border: 1px solid c.$border;
      border-radius: v.$border-radius;
      padding: m.rem(20);
      flex-direction: row;
      align-items: center;
      @include m.box-shadow;

      img {
        max-width: m.rem(300);
        aspect-ratio: 1 / 1;
        border-radius: v.$border-radius;
      }

      div {
        color: c.$grey;
      }

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
      }
    }
  }

  .department {
    > h2 {
      margin: m.rem(40) 0px m.rem(20) 0;
    }

    &-card {
      max-width: m.rem(240);
      min-height: m.rem(325);
      border-radius: v.$border-radius;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: m.rem(20);
      padding: m.rem(20) m.rem(15);
      position: relative;

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }

      > div {
        min-height: calc(m.rem(50) * 2 + 1px + m.rem(15));
        margin-top: m.rem(15);
        padding-bottom: m.rem(25);
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          height: m.rem(50);
          &:first-of-type {
            font-weight: bold;
          }
        }

        hr {
          width: 50%;
          border: 0.5px solid c.$black;
        }
      }

      ol {
        display: flex;
        gap: m.rem(20);
        position: absolute;
        bottom: m.rem(20);

        li {
          width: m.rem(20);
          height: m.rem(20);

          svg {
            width: 100%;
            height: 100%;
            fill: c.$seneca;

            &:hover {
              fill: c.$main;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px)  {
  .leaders {
    .card {
      display: block !important;
    }
  }
}