@use './colors' as c;
@use './common' as com;
@use './navAndFooter.scss';

.projects-overview {
  text-align: center;
  max-width: 1030px;
  margin: 40px auto;

  p {
    color: c.$black;
    margin: 20px 0;
  }
}

.main-container {
  max-width: 1030px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; 
}

.card-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid c.$border;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: c.$white;
  width: 100%;
  max-width: 500px;
  margin: 20px auto; 

  img {
    width: 50%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;

    @media (max-width: 760px) {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }
  }

  div {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: c.$black;
      margin-bottom: 1rem;
      @include com.font-break(3);
    }

    .button-link {
      display: inline-block;
      margin: 1rem auto 0;
      @include com.button-style(
        c.$white, 
        c.$border, 
        c.$black, 
        c.$hover-background, 
        c.$white
      );
    }
  }

  @media (max-width: 760px) {
    flex-direction: column;
    gap: 15px;
    padding: 15px;

    div {
      text-align: center;
      padding: 1rem;
    }
  }
}

.join-us {
  background-color: c.$white;
  text-align: center;
  max-width: 400px;
  border: 2px solid c.$border;
  border-radius: 8px;
  margin: 40px auto;
  padding: 1.5rem;
  box-sizing: border-box;
  @include com.box-shadow;

  p {
    margin-bottom: 1.5rem;
    color: c.$black;
  }

  button {
    @include com.button-style(
      c.$white, 
      c.$border, 
      c.$black, 
      c.$hover-background, 
      c.$white
    );
  }

  @media (max-width: 760px) {
    width: 90%;
    padding: 1rem;
  }
}
