@use './colors' as c;
@use './mixins' as m;
@use 'variables' as v;
@use './common.scss';
@use './joinUs';

main {
  min-height: 100vh;

  > h2,
  > p {
    text-align: center;
  }

  > p {
    margin: m.rem(20) 0 !important;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
}

.card {
  &-item {
    border-bottom: 1px solid c.$border;
    margin-top: m.rem(20);
    padding: 0 0 m.rem(20) 0 !important;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    img {
      max-height: m.rem(300);
      aspect-ratio: 16/9;
    }
    h3 {
      font-size: v.$subHeader;
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    &-item {
      border: unset;
    }
    &-title {
      padding-top: m.rem(10);
    }
  }
}